.Prompt {
  display: flex;
  flex-direction: column;
}

.textarea {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.placeholders {
  border: 1px solid var(--color-border);
  background-color: var(--primary-inverse-background);
  color: var(--primary-inverse-foreground);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;

  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  padding: 0.25rem 0.625rem;
  font-size: 0.8rem;
  gap: 0.5rem;
}

.promptPlaceholder {
  padding: 0.1rem 0.25rem;
  background-color: var(--color-3);
  border-radius: 0.25rem;
}

