.ThemeChanger {
  display: flex;
  gap: 0.5rem;
  border: 1px solid var(--primary-foreground);
  padding: 0.25rem;
  border-radius: 1rem;
  position: relative;

  &.dark::after {
    transform: translateX(0.25rem);
  }

  &.system::after {
    transform: translateX(calc(0.75rem + 24px));
  }

  &.light::after {
    transform: translateX(calc(1.25rem + 48px));
  }
}

.ThemeChanger::after {
  content: '';
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  left: 0;
  background-color: var(--primary-foreground);
  transition: transform 0.2s linear, background-color 0.2s linear;
  z-index: 0;
}

.selected {
  background-color: var(--primary-foreground);
  color: var(--primary-background);
}

.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  z-index: 1;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
