.DocumentIcon {
  position: relative;
  width: 4rem;
  height: 4rem;
}

.DocumentIcon svg {
  width: 4rem;
  height: 4rem;
}

.DocumentIcon span {
  position: absolute;
  bottom: 1rem;
  right: 1.3rem;
  font-size: 0.75rem;
}
