.OptionSelection {
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(3, calc(33.33% - calc(2rem / 3)));
}

.ColorOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--primary-border);
  border-radius: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  justify-content: flex-start;
  gap: 1rem;
}

.filename {
  display: block;
  width: 100%;
  overflow: hidden;
  word-wrap: break-word;
}

.selected {
  background-color: rgba(var(--color-2-rgb), 0.1);
  border-color: var(--color-2);
}
