.botInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 0.75rem;
  overflow-x: hidden;
  > * {
    min-width: 50%;
  }

  .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.detailsSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
