.chat {
}

.main {
  grid-template-columns: minmax(auto, 1000px);
}

.contentWrapperClassName {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 50px;
  justify-content: center;
}

.queryForm {
  margin-top: auto;
}
