.Sender {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  background-color: var(--color-2);
  color: var(--inverse-foregraound);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
