.Data {
  width: 100%;
  h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  > span {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--primary-foreground);
    border-radius: 0.5rem;
    padding: 1rem;
    width: 12rem;
    gap: 0.5rem;
  }
  position: relative;
}

.registerForTest {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  width: 500px;
}
