.ColorOption {
  cursor: pointer;
  display: block;
  width: 2rem;
  height: 2rem;
  border-radius: 0.25rem;
  input {
    cursor: pointer;
    opacity: 0;
    width: 2rem;
    height: 2rem;
  }
}

.checked {
  border: 2px solid var(--primary-button-focus-outline);
}

.SimpleColorPicker {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}
