.button {
  padding: 0.625rem 1.25rem;
  background-color: var(--primary-button-background);
  color: var(--primary-button-foreground);
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  text-align: center;
  border-radius: 0.5rem;

  transition: box-shadow 0.2s ease-in;
}

.button:hover {
  background-color: var(--primary-button-hover-background);
  box-shadow: 0 0 0 3px var(--primary-button-focus-outline);
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--primary-button-focus-outline);
}

.button:active {
  box-shadow: 0 0 0 2px var(--primary-button-focus-outline);
}

.button:disabled {
  background-color: var(--disabled-button-background);
  color: var(--disabled-button-foreground);
  box-shadow: none;
}
